.search_wrapper {
  position: relative;
  .search {
    display: flex;
    gap: 10px;
    position: relative;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;

    .icon {
      width: 30px;
      height: 30px;
    }

    input {
      outline: none;
      background-color: transparent;
    }
  }

  .results_container {
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: white;
    z-index: 99;

    .result {
      padding: 15px;
      cursor: pointer;
      display: flex;
      gap: 10px;
      align-items: center;

      .icon {
        width: 20px;
        height: 20px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
